* {
    margin: 0;
    padding: 0;
}

:root{
    scroll-behavior: smooth;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background-image: url("../assets/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-position: top right;
    justify-content: right;
    font-size: 16px;
}


.container{
    width: 90%;
    max-width: 100%;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

.head {
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
}

.headerclass {
    margin-left: 50px;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title{
    font-size: 60px;
    margin-bottom: 60px;
}

@media screen and (max-width:720px){
    
}